  <h1>Actualit&eacute;s</h1>
  <div class="news-item">
    <img src="/images/garmin_device.jpg">
    <p>0-one est le distributeur officiel en Cote d'Ivoire pour les produits Tramigo.</p>
   <br/>
  </div>
  <div class="news-item">
    <img src="/images/tramigo_t22_1.gif">
    <p>0-one est revendeur de produits de navigation et information Garmin.</p>
     <br/>
  </div>
  <div class="news-item">
    <img src="/images/texts/window_2.jpg">
    <p>30/09/09. L'équipe 0-one  présente le premier système ivorien de navigation GPS. </p>
   <br/> <br/>
  </div>