<div id="canvas-header">
 <p>Veuillez fournir une description du probleme:</p>
</div>
<div>
  <textarea style="margin-bottom: 10px; width: 287px; height: 300px" class="description"></textarea>
  <input type="button" class="cancel" value="Annuler" />
  <input type="button" class="submit" value="Soumettre" />
</div>
