<div id="feedback-step1" class="step">
  <p>Merci de votre interest! Pour fournir du feedback sur notre carte, veuillez d'abord fournit les infos ci-dessous:</p>
  Votre Email:<br/>
<input type="text" class="email" />
<br/>
Votre Nom:<br/>
<input type="text" class="name" />
<input type="button" class="submit" value="Continuer" />
</div>
<div id="feedback-step2" class="step" style="display: none">
  <p>Merci! Maintenant veuillez localiser l'endroit ou est le probleme. Vous pourrez prcisier en plus de detail
  la localization plus tard.</p>
  <input type="text" class="ui-input location"/>
  <input type="button" class="submit" value="Soumettre" />
</div>
<div id="feedback-step3" class="step" style="display: none">
  <p>Merci! Nous avons recu votre feedback et vous nous contacterons sous peu.</p>
</div>
