  <div class="ui-endpoint">
    <label>Nom:</label><input type="text" class="ui-input">
    <input type="hidden" class="start_id">
  </div>
  <div class="clear"></div>
  <div class="error-messages"></div>
  <input type="button" value="Find location" class="submit" />