  <div class="ui-endpoint">
    <label>Depart:</label><input type="text" class="start ui-input">
    <input type="hidden" class="start_id">
  </div>
  <div class="ui-endpoint">
    <label>Arrivee:</label><input type="text" class="end ui-input">
    <input type="hidden" class="end_id">
  </div>
  <div class="clear"></div>
  <div class="error-messages"></div>
  <input type="button" value="Find itinerary" class="submit" />