<ul id="dashboard-navigation">
  <li style="background: url(/images/menu-item-green.png) no-repeat right top"><a href="#panel-routing">Itineraire</a></li>
  <li style="background: url(/images/menu-item-red.png) no-repeat right top; width: 51px"><a href="#panel-localization">Plan</a></li>
  <li style="background: url(/images/menu-item-wheat.png) no-repeat right top; width: 86px"><a href="#panel-index">Categories</a></li>
  <li style="background: url(/images/menu-item-gold.png) no-repeat right top; width: 74px"><a href="#panel-shop">Boutique</a></li>
  <li style="background: url(/images/menu-item-pastel.png) no-repeat right top; width: 80px"><a href="#panel-feedback">Feedback</a></li>
  <li style="float: right; width: 70px; margin-right: 0">
    <a href="mailto:info@0-one.net" style="position: relative; top: -4px">Contact</a><img style="margin-left: 8px" src="/images/arrow.png">
  </li>
</ul>

<div class="clear"></div>

<div id="panel-routing" class="panel"></div>

<div id="panel-localization" class="panel"></div>

<div id="panel-index" class="panel"></div>

<div id="panel-feedback" class="panel"></div>

<div id="panel-shop" class="panel">


</div>

<style type="text/css">
  .shop-product-range, .shop-product-banner {float: left; margin-right: 40px; text-align: center; width: 120px}
  .shop-product-range h2 {margin-top: 5px} 
  .shop-product-range img {height: 120px}
</style>