<label>Your name: </label><input type="text" name="name" />
<label>Your email: </label><input type="text" name="email" />
<input type="button" value="send" />

<script type="text/javascript">

  $(document).ready(function() {
    $("#lightbox input").click(function() {
      alert("hello");
    });       
  });

</script>
