
<h1>Upload Radios</h1>
  <br/>
  <% form_tag '/admin/upload', :multipart => true do %>
    <label for="file">File to Upload: </label> <%= file_field_tag "file" %>
    <%= submit_tag "Upload" %>
  <% end %>

  <p style="color: red"><%= flash[:error] %></p>
  <p style="color: green"><%= flash[:status] %></p>

<br/>
<a href="/admin/upload/clear">Empty database</a>

