body {font-family: Arial, sans-serif; background: url(/images/bgnd_gradient.png) repeat-x}
li {list-style-type: none}
.clear {clear: both}
h2 {color: white; font-size: 20px; margin-bottom: 20px; font-weight: bold}

#page {margin: 20px auto auto; width: 900px}

#main {background-image: url(/images/bgnds_05.png); width: 900px}

#header {background-image: url(/images/bgnds_03.png); height: 201px; width: 900px}
#header .contents {width: 620px; float: right; padding-top: 25px}
#header .contents .normal {font-size: 14px; line-height: 18px}
#header .contents .small {font-size: 10px; line-height: 11px}

.panel {margin-left: 20px; margin-top: 25px}

.alphabetical {background-image: url(/images/bgnd_a-z.png); width: 590px; height: 27px; padding-top: 14px; padding-left: 5px}
.alphabetical a {margin-left: 12px; font-size: 14px; font-weight: bold; color: white; text-decoration: none}
.alphabetical a:hover {color: #dddddd}
.alphabetical a.selected {color: #a6c631}
.alphabetical a {text-shadow: 0 1px 0 #000000}

.results {width: 595px}
.results-items {background: white; height: 320px; margin-left: 1px; width: 593px}
.results-items ul {height: 298px;  overflow: scroll; overflow-x: hidden}
.results-items ul li {line-height: 180%; padding-left: 30px}
.results-items ul li.prefix {font-weight: bold; font-size: 120%; padding-left: 47px}
.results-items ul li.striped {background-color: #eeeeee}
.results-items ul label {font-size: 80%}
.results-box-top {background: url(/images/fade_results_box_top.png) repeat-x; height: 11px}
.results-box-bottom {background: url(/images/fade_results_box_bottom.png) repeat-x; height: 11px}
.results-header {background-image: url(/images/box_top_results_main.png)}

.name {margin-top: 15px; margin-left: 22px}
.name input {font-size: 20px; font-weight: bold; width: 471px; color: #434343; padding: 8px}
.name .submit {width: 105px; height: 45px; position: relative; top: 2px}

.type {margin-left: -13px}
.type li {width: 191px; height: 31px; float: left; padding-top: 10px; margin-right: 10px; margin-bottom: 10px}
.type li a {width: 181px; padding-left: 10px; height: 28px; text-decoration: none; color: white; font-weight: bold; font-size: 14px; margin-left: 15px; padding-top: 13px; background-image: url(/images/butt_main_off.png);}
.type li a.selected {background-image: url(/images/butt_main_on.png)}
.type li a:hover {color: #eaeaea}
.type li a {text-shadow: 0 1px 0 #000000}

a.button {display: block}

.selection a { height: 24px; float: right; width: 92px; margin-top: 20px; margin-right: 10px; background-image: url(/images/butts_on_13.png)}
.selection a:hover {background-image: url(/images/butts_over_13.png)}
.selection a.email {background-image: url("/images/butts_on_10.png"); margin-left: 11px}
.selection a.email:hover {background-image: url("/images/butts_over_10.png");}
.selection a.email {float: left; width: 112px; height: 24px}
.selection ul li {line-height: 180%; padding-left: 5px}
.selection ul label {font-size: 80%}

.menu a {font-weight: bold; margin-left: 20px; color: white; text-decoration: none; background-color: transparent}
.menu a:hover {color: #a6c631}
.menu {padding-top: 20px}
.admin .page {padding: 20px}
.admin table th {font-weight: bold}
.admin .page .pagination {margin-top: 20px; font-size: 12px}
.admin .page .pagination .current {font-weight: bold; color: black; font-size: 14px}
.admin .page .pagination a, .admin .page .pagination .current, .admin .page .pagination .gap {margin-right: 10px; text-decoration: none; color: #434343}
.admin .page h1 {font-weight: bold; font-size: 16px; margin-bottom: 20px}
.admin table {width: 100%}

.errorExplanation {margin-top: 20px}
#errorExplanation li {list-style-type: none ! important}

.ui-widget-content {font-size: 12px}