<div class="menu" style="background-image: url(/images/bgnds_05.png); height: 25px; padding-bottom: 5px">
  <a href="/admin/home">Home</a><span style="color: white; margin-left: 15px">|</span> 
  <a href="/admin/upload">Upload Spreadsheet</a><span style="color: white; margin-left: 15px">|</span>
  <a href="/adverts">Adverts</a><span style="color: white; margin-left: 15px">|</span>
  <a href="/users/">Users</a><span style="color: white; margin-left: 15px">|</span>
  <a href="/radios">Stations</a><span style="color: white; margin-left: 15px">|</span>
  <a href="/partnerships">Partnerships</a><span style="color: white; margin-left: 15px">|</span>
  <a href="/totals">Totals</a><span style="color: white; margin-left: 15px">|</span>
  <a href="/networks">Networks</a><span style="color: white; margin-left: 15px">|</span> 
  <a href="/admin/logout">Logout</a>
</div>