<div class="menu" style="background-image: url(/images/bgnds_05.png); height: 25px">
<a href="/admin/home">Home</a>
<a href="/admin/upload">Upload</a>
<a href="/users/">Manage Users</a>
<!-- <a href="/totals">Manage Totals</a> -->
<!-- <a href="/networks">Manage Networks</a> -->
<a href="/radios">Manage Stations</a> -->
<a href="/admin/logout">Logout</a>
</div>