<div class="content">
<a href="#" class="close">Close</a>
<div class="inner-wrapper" style="margin: 20px">
  <p><b>Nom: </b></p>
  <p><b>Commune: </b></p>
  <p><b>Ville: </b></p>
  <p><b>Region: </b></p>
  <p><b>Infos: </b></p>
 </div>
</div>