<!doctype html public "_//w3_c//dtd xhtml 1.0 strict//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1_strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http_equiv="x_ua_compatible" content="ie=emulate_ie7" />
  <meta http_equiv="content_type" content="text/html; charset=utf_8" />
  <meta http_equiv="content_style_type" content="text/css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
<div id="canvas">
  <%= render :partial => "shared/menu" %>
  <%= yield :main %>
</div>
</body>
</html>
